<h1>Upcoming Events</h1>

<%= link_to "Create Event", new_event_path, class: "btn btn-outline-dark floath-right" %><br>

<% @events.upcoming.each do |event| %>
  <%= event.title %>
  <%= event.date.strftime("%B %-d, %Y") %>
  <%= event.description.truncate(100) %>
  <%= link_to "Read more", event_path(event), class: "btn btn-outline-success" %>
<% end %>

<h2>Past Events</h2>
<% @events.past.each do |event| %>
  <%= event.title %>
  <%= event.date.strftime("%B %-d, %Y") %>
  <%= event.description.truncate(50) %>
  <%= link_to "Read more", event_path(event), class: "btn btn-outline-success" %>
<% end %>
